@import './variables';
@import './mixins';

@import './components/elpage/elpage.scss';
@import './components/board/header.scss';
@import './components//board/toolbar.scss';
@import './components//board/board.scss';
@import './components/board/modal.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    //temp
    background-color: #000;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: $root-font-size;
}